
@model User
@{
    var skillsAsString = new string(Model.SkilsList);
    List<string> skillsList = skillsAsString.Split(',').Select(s => s.Trim()).ToList();


}

@if (Model != null)
{
    

    <div class="row">
        <div class="col-xl-3 col-lg-12 stretch-card grid-margin">
            <div class="row">
                <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                    <div class="card bg-warning">
                        <div class="card-body px-3 py-4">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="color-card">
                                    <p class="mb-0 color-card-head">Sales</p>
                                    <h2 class="text-white">
                                        $8,753.<span class="h5">00</span>
                                    </h2>
                                </div>
                                <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                            </div>
                            <h6 class="text-white">18.33% Since last month</h6>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                    <div class="card bg-danger">
                        <div class="card-body px-3 py-4">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="color-card">
                                    <p class="mb-0 color-card-head">Rank</p>
                                    <h2 class="text-white">
                                       0<span class="h5">00</span>
                                    </h2>
                                </div>
                                <i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
                            </div>
                            <h6 class="text-white">13.21% Since last month</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-xl-9 stretch-card grid-margin">
            <div class="card">
                <div class="card-body">


                    <h1 class="card-title" style="font-size:30px;">Welcome!  @Model.UserName  @Model.LastName</h1>
                    
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    
                                    <div class="col-sm-9">
                                    <div class="template-demo">
                                        @foreach (var item in skillsList)
                                        {
                                        
                                         <button type="button" class="btn btn-secondary btn-rounded btn-fw"> @item </button>

                                        }
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                    <label class="col-form-label" style="font-size:20px;">
                                        @Model.VerificationToken
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group row">
                               
                                <div class="col-sm-9">
                                    @Model.Email
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    @Model.Address1
                                </div>
                            </div>
                        </div>

                    </div>


                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        @Model.Address2
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        @Model.City
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                       @Model.Country
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        @Model.VerifiedAt
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                

                            </div>

                            <div class="col-md-6">
                               
                            </div>
                        </div>
                   







                </div>
            </div>
        </div>


    </div>











}

